* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.images {
    top: 1000px;
}
.images img {
    width: 120px;
    border: solid #70b16d 4px;
    border-radius: 5px;
    margin: 10px;
}
.images img:hover {
    width: 150px;
    border: solid #70b16d 10px;
    border-radius: 5px;
}

h1 {
    color: 	#2e8b57;
}

h2, h3 {
    color: #70b16d;
}

h4 {
    color: 	#b8860b;
}
.facts {
    display: inline-block;
}
ul {
    float: right;
    width: 35%;
    background-color: rgb(234, 234, 234);
    margin: 20px;
    padding: 20px;
    padding-left: 30px;
}